<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cars2Go</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Cars2Go!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button href="/api/users/logout" id="logout" class="btn-no-style">Logout</button>
    <button href="/api/cars/add" id="add" class="btn-no-style">Add Cars</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
    {{#if loggedIn}}
    <a id="addcars"  href="/api/add">Add Cars</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>View our available vehicles!</h2><br><br>
      <address>Visit us at:<br>
      123 Vehicle Lane<br>
      Vroomtown, USA<br><br><br>
      Hours: 24/7<br><br><br><br>
      Need More Help?<br><br>
      Call us at:<br>
      555-5555<br><br>
      Or message us at:<br>
      cars2go@email.com</address>
    </aside>
    <div class="cars">
      {{{body}}}
    </div>
  </main>
</body>

</html>
